[settings]
# Browser to use for screenshots. Options are: chrome, firefox, edge, safari, brave, opera
# If using brave or opera, you need to specify the binary location.
browser = chrome
binary_location = C:\Program Files\BraveSoftware\Brave-Browser\Application\brave.exe
# Set to true if you want to take full page screenshots. Set to false if you want to take only the visible part of the page.
full_page_screenshot = false
# Set to true if you want to store the 2FA secrets and use them for auto-filling 2FA codes.
auto_2fa = false

# List of supported trackers. Remove the trackers that you don't want to screenshot. Only keep what you want.
[wanted-trackers]
trackers = ["aither", "animetorrents", "animebytes", "beyond-hd", "blutopia", "broadcasthenet", "cathode-raytube", "filelist", "gazellegames", "greatposterwall", "hdtorrents",
			"huno", "jme", "lst",  "morethantv", "myanonamouse",  "nebulance", "oldtoons", "orpheus", "passthepopcorn", "redacted", "reelflix", "skipthecommercials",
			"skipthetrailers", "speedapp", "swarmazon", "thedarkcommunity", "torrentleech"]

# Reference: ["aither", "animetorrents", "animebytes", "beyond-hd", "blutopia", "broadcasthenet", "cathode-raytube", "filelist", "gazellegames", "greatposterwall", "hdtorrents",
			"huno", "jme", "lst",  "morethantv", "myanonamouse",  "nebulance", "oldtoons", "orpheus", "passthepopcorn", "redacted", "reelflix", "skipthecommercials",
			"skipthetrailers", "speedapp", "swarmazon", "thedarkcommunity", "torrentleech"]

#Edit the trackers you want to use with your details.
[aither]
username = YOUR USERNAME
password = YOUR PASSWORD
profile_url = https://aither.cc/users/XXX

[reelflix]
username = YOUR USERNAME
password = YOUR PASSWORD
profile_url = https://reelflix.xyz/users/XXX

[lst]
username = YOUR USERNAME
password = YOUR PASSWORD
profile_url = https://lst.gg/users/XXX

[blutopia]
username = YOUR USERNAME
password = YOUR PASSWORD
profile_url = https://blutopia.cc/users/XXX

[huno]
username = YOUR USERNAME
password = YOUR PASSWORD
profile_url = https://hawke.uno/users/XXX

[speedapp]
username = YOUR USERNAME
password = YOUR PASSWORD
# DO NOT CHANGE
profile_url = https://speedapp.io/profile/

[filelist]
username = YOUR USERNAME
password = YOUR PASSWORD
profile_url = https://filelist.io/userdetails.php?id=XXX

[greatposterwall]
username = YOUR USERNAME
password = YOUR PASSWORD
profile_url = https://greatposterwall.com/user.php?id=XXX

###THE FOLLOWING ARE ADDED AND TESTED BY THE GREAT COMMUNITY###

[animetorrents]
username = YOUR USERNAME
password = YOUR PASSWORD
profile_url = https://animetorrents.me/user-profile.php?uid=XXX
# DO NOT CHANGE
login_url = https://animetorrents.me/login.php

[redacted]
username = YOUR USERNAME
password = YOUR PASSWORD
profile_url = https://redacted.sh/user.php?id=XXX

[skipthecommercials]
username = YOUR USERNAME
password = YOUR PASSWORD
profile_url = https://skipthecommericals.xyz/users/XXX

[skipthetrailers]
username = YOUR USERNAME
password = YOUR PASSWORD
profile_url = https://skipthetrailers.xyz/users/XXX

[animebytes]
username = YOUR USERNAME
password = YOUR PASSWORD
profile_url = https://animebytes.tv/user.php?id=XXX
login_url = https://animebytes.tv/user.php

[jme]
username = YOUR USERNAME
password = YOUR PASSWORD
profile_url = https://jme-reunit3d.de/users/XXX
# DO NOT CHANGE
login_url = https://jme-reunit3d.de/login

[thedarkcommunity]
username = YOUR USERNAME
password = YOUR PASSWORD
profile_url = https://thedarkcommunity.cc/users/XXX

[cathode-raytube]
username = YOUR USERNAME
password = YOUR PASSWORD
profile_url = https://www.cathode-ray.tube/user.php?id=XXX
# DO NOT CHANGE
login_url = https://www.cathode-ray.tube/login

[myanonamouse]
username = YOUR EMAIL
password = YOUR PASSWORD
profile_url = https://www.myanonamouse.net/u/XXX

[nebulance]
username = YOUR USERNAME
password = YOUR PASSWORD
profile_url = https://nebulance.io/user.php?id=XXXX

[torrentleech]
username = YOUR USERNAME
password = YOUR PASSWORD
profile_url = https://www.torrentleech.org/profile/XXX/

[orpheus]
username = YOUR USERNAME
password = YOUR PASSWORD
profile_url = https://orpheus.network/user.php?id=XXXX
# DO NOT CHANGE
login_url = https://orpheus.network/login.php

[swarmazon]
username = YOUR USERNAME
password = YOUR PASSWORD
# DO NOT CHANGE URLS
profile_url = https://swarmazon.club/en/view/my-statistics.php
login_url = https://swarmazon.club/en/account/login.php

[morethantv]
username = YOUR USERNAME
password = YOUR PASSWORD
profile_url = https://www.morethantv.me/user.php?id=XXX

[hdtorrents]
username = YOUR USERNAME
password = YOUR PASSWORD
profile_url = https://hd-torrents.org/usercp.php?uid=XXX
# DO NOT CHANGE
login_url = https://hd-torrents.org

[broadcasthenet]
username = YOUR USERNAME
password = YOUR PASSWORD
profile_url = https://broadcasthe.net/user.php?id=XXX

[gazellegames]
username = YOUR USERNAME
password = YOUR PASSWORD
profile_url = https://gazellegames.net/user.php?id=XXX

[passthepopcorn]
username = YOUR USERNAME
password = YOUR PASSWORD
profile_url = https://passthepopcorn.me/user.php?id=XXX

[beyond-hd]
username = YOUR USERNAME
password = YOUR PASSWORD
profile_url = https://beyond-hd.me/XXX.XXX

[oldtoons]
username = YOUR USERNAME
password = YOUR PASSWORD
profile_url = https://oldtoons.world/users/XXX


#GitHub: https://github.com/KlevGG/TrackerScreenshot
